<html>
<title>{{title}}</title>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<style>
.user_table {
    margin-top: 20px;
    border-spacing: 0px;
}
.user_table th {
    background-color: lightblue;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 5px;
}
.user_table tr {
}
.user_table tr:hover {
    background-color: #ddd;
}
.user_table td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

    
</style>
<h1>Erstelle die Einladung für {{title}}</h1>
<table>
<tr>
<td>Ort</td><td>{{location}}</td>
</tr>
<tr>
<td>Datum</td><td>{{date}}</td>
</tr>
</table>
<script>


$(function() {
  $("#groups").autocomplete({
    source: "../contacts/get_grouplist",
    minLength: 1,
    select: function( event, ui ) {
        update_user_table_group(ui);
      },

  });
});

$(function() {
  $("#users").autocomplete({
    source: "../contacts/get_memberlist",
    minLength: 1,
    select: function( event, ui ) {
        append_user(ui);
      },

  });
});

function append_user(ui) {
    $.get('../contacts/get_user?user_name='+ui.item.label, function(members) {
        $('#user_table').html(members);
        console.log(members);
        var members = [JSON.parse(members)];
        console.log(members.length);
        console.log(members);

        
        // Get Headers 
        var col = [];
        for (var i = 0; i < members.length; i++) {
            for (var key in members[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }
        console.log(col);
        col.splice(col.indexOf('ID'),1)
        var table = document.getElementById('user_table_id')
        var tr = table.insertRow(-1);                   // TABLE ROW.
        console.log('members' + members);
        console.log('members.length' + members.length);
        col.unshift("Export");
        for (var i = 0; i < members.length; i++) {
            tr = table.insertRow(-1);
            var checkbox = document.createElement("INPUT");
            var tabCell = tr.insertCell(-1);
            checkbox.setAttribute("type", "checkbox");
            checkbox.setAttribute("checked", "True");
            checkbox.setAttribute("name", "userid");
            checkbox.setAttribute("value", members[i]['ID']);
            tabCell.appendChild(checkbox);
            tr.appendChild(tabCell);
            console.log(col)
            console.log(col.length);
            for (var j = 1; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                console.log(col[j]);
                if (col[j] != "ID") {
                    tabCell.innerHTML = members[i][col[j]];
                }

            }
        }
        var divContainer = document.getElementById("user_table_div");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);

   });
};



function update_user_table_group(ui) {
    $.get('../contacts/get_members?group_name='+ui.item.label, function(members) {
        $('#user_table').html(members);
        console.log(members);
        var members = JSON.parse(members)
        // Get Headers 
        var col = [];
        for (var i = 0; i < members.length; i++) {
            for (var key in members[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }
        col.splice(col.indexOf('ID'),1)
        var table = document.createElement("table");
        table.className = "user_table";
        table.id        = "user_table_id";
        var tr = table.insertRow(-1);                   // TABLE ROW.
        col.unshift("Export");
        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }
        console.log(members);
        console.log(members.length);
        for (var i = 0; i < members.length; i++) {
            tr = table.insertRow(-1);
            var checkbox = document.createElement("INPUT");
            var tabCell = tr.insertCell(-1);
            checkbox.setAttribute("type", "checkbox");
            checkbox.setAttribute("checked", "True");
            checkbox.setAttribute("name", "userid");
            checkbox.setAttribute("value", members[i]['ID']);
            tabCell.appendChild(checkbox);
            tr.appendChild(tabCell);
            console.log(col)
            for (var j = 1; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                console.log(col[j]);
                if (col[j] != "ID") {
                    tabCell.innerHTML = members[i][col[j]];
                }

            }
        }
        var divContainer = document.getElementById("user_table_div");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);

   });
};

function build_invites() {
    var invited_users = []
    var divContainer = document.getElementById("user_table_div");
    console.log(divContainer);

    var checkboxes = divContainer.getElementsByTagName('input');
    console.log(checkboxes);
    for (var i = 0; i < checkboxes.length; i++){
        if (checkboxes[i].checked) {
            invited_users.push(checkboxes[i].value);
            console.log(checkboxes[i]);
        }
   }
    console.log(invited_users);
    document.getElementById("invited_users").value = invited_users;
}

</script>

<form method="GET" action="send_invite"> 
    {% csrf_token %}
    Gruppe <label for="groups"> <input type id="groups">
    User   <label for="user"> <input type id="users">
    <a href="#" onclick="build_invites()">Update Checkboxes</a>
    <input type="submit" value="Einladung verschicken" onclick="build_invites()"> 
    <input type=hidden name="event_id" value={{ event_id }} >
    <input type=hidden id="invited_users">
</form>
<div id="user_table_div">
{% csrf_token %}
</div>

</html>
